* {
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* centra tutto orizzontalmente */
}

h1 {
    color: #2c3e50;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.film-card {
    width: 100%;
    margin: 20px auto; /* centra la card orizzontalmente */
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.film-main {
    display: flex;
    gap: 20px;
    align-items: flex-start; /* allinea in alto */
    flex-wrap: wrap; /* in mobile l'immagine scende sotto */
}


.film-main img {
    max-width: 200px;
    border-radius: 4px;
}

.film-info {
    flex: 1;
}

.film-notes {
    margin-top: 15px; /* spazio tra info e note */
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.slider button {
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
}
#film-container {
    width: 700px;
}
.film-main img {
    width: 200px;
    height: 300px;      /* altezza fissa */
    object-fit: cover; /* ritaglia senza deformare */
    border-radius: 4px;
    background-color: #eee;
}


